<%= form_with(model: prompt, class: "grid gap-6 max-w-2xl", id: "prompt_form") do |form| %>
  <%= form.label :content do %>
    <span class="label sr-only">
      <span class="label-text">Prompt</span>
    </span>
    <%= form.text_area :content, rows: 4, class: tw_merge("textarea", prompt.errors[:content].any? ? 'is-invalid' : ''), placeholder: "Dame 20 nombres de gaticos..." %>
    <%= form_errors(prompt, :content) %>
  <% end %>

  <%= form.label :name, class: "form-control" do %>
    <span class="label sr-only">
      <span class="label-text">Nombre del prompt</span>
    </span>
    <%= form.text_field :name, class: tw_merge("input", prompt.errors[:name].any? ? 'is-invalid' : ''), placeholder: "Nombre del prompt" %>
    <% unless prompt.errors[:name].any? %>
      <span class="label">
        <span class="label-text text-gray-500/80 dark:text-gray-300">(Opcional) Nombre con el que se guardará el prompt</span>
      </span>
    <% else %>
      <%= form_errors(prompt, :name) %>
    <% end %>
  <% end %>

  <%= form.label :processed_in_job, class: "form-control flex items-center gap-1" do %>
    <%= form.check_box :processed_in_job, class: "switch switch-primary" %>
    <span class="label cursor-pointer flex-col items-start">
      <span class="label-text text-base">¿Procesar en segundo plano?</span>
    </span>
  <% end %>

  <div class="inline">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
